---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout/DefaultLayout.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout title={post.data.title}>
  <h1>{post.data.title}</h1>
  <Content />
</DefaultLayout>
