---
import dayjs from "dayjs";
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout/DefaultLayout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";

export const getStaticPaths = async () => {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout title={post.data.title}>
  <Breadcrumbs directories={[
    {
      title: 'トップ',
      path: '/'
    },
    {
      title: 'お知らせ',
      path: '/posts'
    }
  ]}/>
  
  <div class="meta">
    <h1>{post.data.title}</h1>
    <p>
      {dayjs(post.data.createdAt).format("YYYY年M月D日")}
    </p>
  </div>
  <Content />
</DefaultLayout>

<style lang="scss">
  .meta {
    margin-bottom: 40px;

    h1 {
      margin-bottom: 0;
    }
  }
</style>
