---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout/DefaultLayout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const posts = await getCollection("posts");
const sortedPosts = posts.sort(
  (a, b) => b.data.createdAt.getTime() - a.data.createdAt.getTime()
)
---

<DefaultLayout title="お知らせ">
  <Breadcrumbs directories={[
    {
      title: 'トップ',
      path: '/'
    }
  ]} />

  <h1>お知らせ</h1>

  <section>
    {sortedPosts.map(p => <ArticleCard slug={p.slug} title={p.data.title} createdAt={p.data.createdAt} />)}
  </section>


</DefaultLayout>

<style lang="scss">
  section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
</style>