---
import Title from "../../components/Title.astro";
import HeroContainer from "./HeroContainer.astro";
---

<div class="wrap">
  <HeroContainer>
    <section>
      <div class="introduction">
        <Title title="Ashie Neki" subTitle="葦江音綺" />
        <div class="meta">
          <p>
            すぐに人と打ち解けやすい性格。<br />
             友達はまあまあいる。人間も人間以外も。<br />
             贅肉が気になるお年頃。煙草は野菜で酒は燃料なのでカロリーゼロ。<br
            />
             路地裏でみつけたネコちゃんと暮らしているらしい。
          </p>
          <table>
            <tbody>
              <tr>
                <th>身長</th>
                <td>165cm</td>
              </tr>
              <tr>
                <th>体重</th>
                <td>40%</td>
              </tr>
              <tr>
                <th>誕生日</th>
                <td>8月24日</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </HeroContainer>
</div>

<style lang="scss">
  .wrap {
    background-color: var(--darkgray-color);
    color: var(--white-color);
  }

  section {
    display: grid;
    grid-template-columns: 75% 1fr;

    @media screen and (max-width: 840px) {
      grid-template-columns: 1fr;
    }
  }

  table {
    tbody {
      border-top: 2px solid var(--white-color);
      border-bottom: 2px solid var(--white-color);
    }
    tr {
      background-color: transparent;
    }
    th {
      font-weight: normal;
    }
    td {
      font-weight: bold;
    }
  }

  .tachie {
    text-align: right;
  }
</style>
