---
import Title from "../../components/Title.astro";
import HeroContainer from "./HeroContainer.astro";
---

<section>
  <HeroContainer>
    <Title title="Downloads" subTitle="ダウンロード" />
    <p>
      準備中です！
    </p>
  </HeroContainer>
</section>

<style lang="scss">
  section {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
</style>
