---
import Title from "../../components/Title.astro";
import HeroContainer from "./HeroContainer.astro";
---

<section>
  <HeroContainer>
    <Title title="Downloads" subTitle="ダウンロード" />
    <p>
      ライブラリなどのダウンロードはこちらから
    </p>
    <div class="btnRack">
      <a class="btn btn-secondary-light" href="/downloads">ダウンロード</a>
      <a class="btn btn-secondary-light-outlined" href="/guideline">キャラクターガイドライン</a>
    </div>
  </HeroContainer>
</section>

<style lang="scss">
  section {
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
</style>
