* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
html {
  height: 100vh;
}
body {
  height: 100%;
  font-family: 'IBM Plex Sans JP', sans-serif;
  background-color: #f8f8f8;
  background-image: url('/brand/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: underline;
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6, p, table {
  margin: 0;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans JP', sans-serif;
  font-weight: bold;
}

h1 {
  color: var(--darkgray-color);
}
h2 {
  border-bottom: 2px solid var(--lightgray-color);
}
h3 {
  border-left: 8px solid var(--lightgray-color);
  padding-left: 8px;
}

h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

table {
  width: 100%;
  border-collapse: collapse;

  text-align: left;

  thead,
  tbody {
    border-bottom: 2px solid var(--darkgray-color);
  }

  th:empty {
    display: none;
  }

  tr {
    border-bottom: 1px solid var(--white-color);
    &:last-child {
      border-bottom: none;
    }

    background-color: var(--white-color);
    &:nth-child(2n) {
      background-color: #f0f0f0;
    }
  }

  th, td {
    padding: 10px;
  }
}

.btnRack {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.btn {
  display: inline-block;
  padding: 8px;

  text-decoration: none;
  border: 2px solid var(--darkgray-color);
  background-color: var(--darkgray-color);
  color: var(--white-color);

  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 0;

    display: inline-block;
    width: 0%;
    height: 100%;
    content: '';
    background-color: #ffffff80;
    opacity: 0;

    transition: ease 0.4s,
                opacity 0.2s ease-in;
  }

  &:hover {
    &::before {
      width: 100%;
      opacity: 1;
    }
  }

  font-weight: bold;

  &-outlined {
    border: 2px solid var(--darkgray-color);
    background-color: transparent;
    color: var(--darkgray-color);
  }

  &-primary {
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
  }
  &-primary-outlined {
    border: 2px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
  }
  &-primary-light-outlined {
    border: 2px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &-secondary {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
  &-secondary-light {
    border: 2px solid var(--white-color);
    background-color: var(--white-color);
    color: var(--secondary-color);
  }
  &-secondary-light-outlined {
    border: 2px solid var(--white-color);
    background-color: var(--secondary-color);
    color: var(--white-color);
  }
}
