---
import DateLabel from "./Labels/DateLabel.astro";
export interface Props {
  title: string;
  slug: string;
  createdAt: Date;
}
---

<article>
  <div class="dateHolder">
    <DateLabel date={Astro.props.createdAt} isDisplayNewLabel={true} />
  </div>
  <div class="title"><a href={`/posts/${Astro.props.slug}`}>{Astro.props.title}</a></div>
</article>

<style>
  .dateHolder {
    margin-bottom: 5px;
  }
  .title {
    font-size: 1.5em;
    font-weight: bold;
  }
</style>
