---
export interface Props {
  title: string;
  subTitle: string;
};
---

<div class="titleHolder">
  <div class="title">{Astro.props.title}</div>
  <div class="subTitle">{Astro.props.subTitle}</div>
</div>

<style lang="scss">
  .titleHolder {
    margin-bottom: 20px;

    .title {
      font-size: 3em;
      font-weight: bold;
    }
    .subTitle {
      margin-top: -1em;
    }
  }
</style>