---
import Title from "../../Title.astro";
import HeroContainer from "../HeroContainer.astro";
import DemoCard from "./DemoCard.astro";
import "../../../styles/mixin.scss";
import { getCollection } from "astro:content";

const demos = await getCollection("demos", (s) => !s.data.draft)

const demoItems = demos
  .sort((a, b) => b.data.order - a.data.order)
  .map(s => ({
    videoId: s.data.videoId,
    title: s.data.title,
    artist: s.data.artist
  }))
---

<section>
  <HeroContainer>
    <Title title="Demos" subTitle="公式デモ" />
    <div class="cardRack">
      {demoItems.map(s => <DemoCard videoId={s.videoId} title={s.title} artist={s.artist}/>)}
    </div>
    {!demos.length && <p>
      現在準備中です！
    </p>}
  </HeroContainer>
</section>

<style lang="scss">
  section {
    background-color: var(--lightgray-color);
  }
  .cardRack {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 840px) {
      grid-template-columns: 1fr;
    }
  }
</style>
