---
import dayjs from "dayjs";
export interface Props {
    date: Date;
    isDisplayNewLabel: boolean;
}

const getAddedDayDate = (date: Date, addDay: number): Date => {
  const newDate = new Date(date.getTime())
  newDate.setDate(newDate.getDate() + addDay)
  return newDate
}
---

<div class="dateLabel">
  <span class="date">{dayjs(Astro.props.date).format("YYYY年M月D日")}</span>
  {Astro.props.isDisplayNewLabel && getAddedDayDate(Astro.props.date, 30) > new Date() && <span class="newLabel">NEW!</span>}
</div>

<style lang="scss">
  .dateLabel {
    display: flex;
    gap: 5px;
    align-items: flex-end;
  }
  .newLabel {
    display: inline-block;
    padding: 2px 10px;
    font-size: 0.8em;
    background-color: var(--primary-color);
    color: var(--white-color);
  }
</style>
