---
export interface Props {
  videoId: string;
  title: string;
  artist: string;
}
---

<article>
  <div class="video">
    <script type="application/javascript" src={`https://embed.nicovideo.jp/watch/${Astro.props.videoId}/script`}></script><noscript><a href="https://www.nicovideo.jp/watch/sm42365284">【イベント告知】第二回小樽潮風高校文化祭を開催します！ / #しおばな祭【TOKYO6】</a></noscript>
  </div>
  <div class="labelRack">
    <span class="label">UTAU単独音ライブラリ</span>
  </div>
  <div class="title">{Astro.props.title}</div>
  <div class="artist">{Astro.props.artist}</div>
</article>

<style lang="scss">
  article {
  }
  .video,
  .labelRack {
    margin-bottom: 5px;
  }
  .label {
    display: inline-block;
    padding: 2.5px 10px;
    padding-top: 4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 0.8em;
  }
  .title {
    font-size: 1.25em;
    font-weight: bold;
  }
  .artist {
  }
</style>
